@import "./styles/header-styles.css";
@import "./styles/footer-styles.css";
/* @import "./styles/404-style.css"; */

/* Global Styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --primary-dark: #2e234e;
  --BG: #f1f5f8;
  --primary: #8062d6;
  --border-color: #e5e7eb;
  --section-gap: 2.1rem;
}

body {
  background-color: var(--BG);
  font-size: 16px;
  min-width: 320px;
}
#wrapper {
  display: flex;
  flex-direction: column;
  /* gap: var(--section-gap); */
  height: 100dvh;
  justify-content: space-between;
}
