/* FOOTER--STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
/* Footer-Left */

.footer_left {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
.footer_left > a {
  text-decoration: none;
}
.footer_left > a > p {
  color: var(--primary-dark);
  font-family: "Saira", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* Footer-Right */

.footer_right {
  display: flex;
  gap: 1rem;
}
.footer_right > img {
  display: inline-block;
  width: 25px;
  height: 25px;
}

@media (width<=899px) {
  .footer_left > a > p {
    font-size: 0.8rem;
  }
  .footer_left {
    gap: 0.5rem;
  }
}

@media (width<=330px) {
  .footer_right {
    gap: 0;
    justify-content: space-between;
  }
  .footer_right > a {
    display: inline-block;
    margin: 0.2rem 1rem;
  }
}
