/* FOOTER--STYLES */

#footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--border-color);
  /* padding: 20px 32px; #as per design */
  padding: 20px 32px;
}

/* Footer-Left */

.footer_left {
  display: flex;
  gap: 32px;
}
.footer_left > a {
  text-decoration: none;
}
.footer_left > a > p {
  color: var(--primary-dark);
  font-family: "Saira", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* Footer-Right */

.footer_right {
  display: flex;
  gap: 1rem;
}
.footer_right > img {
  display: inline-block;
  width: 25px;
  height: 25px;
}

@media (width<=899px) {
  #footer {
    padding: 20px 0;
  }

  #header {
    padding-bottom: 0;
  }
}
