#header {
  display: flex;
  padding: 2rem 0;
}
#header > a {
  text-decoration: none;
}
#header > a > h1 {
  color: var(--primary-dark);
  font-family: "Saira", sans-serif;
  font-weight: bold;
}

@media (width<=899px) {
  #header {
    padding-bottom: 0;
  }
}
